@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;400;800&family=Indie+Flower&display=swap");

:root {
	font-size: 16px;
	--font-primary: "Indie Flower";
	--font-secondary: "Inconsolata";

	font-family: var(--font-secondary);

	--theme-primary: #83a601;
	--theme-secondary: #3f4d02;

	--func-accees: #4a5b03;
	--func-error: #a20808;

	--additional-1: #390a04;
	--additional-2: #803619;
	--additional-3: #210804;
	--additional-4: #ffe3d7;

	--neutral-0: #131212;
	--neutral-10: #ffe4c4;
	--neutral-20: #d9d9d9;
	--neutral-70: #656565;
	--neutral-100: #f0f0f0;

	--commandPallete-1: #ffff00;
	--commandPallete-2: #cc0000;
	--commandPallete-3: #ff0066;
	--commandPallete-4: #609;
	--commandPallete-5: #66ff66;

	--commands-1: #b9b9b9;
	--commands-2: #5f5f5f;
	--commands-3: #1e1d1d;

	--container-width: 320px;
}

.container {
	max-width: var(--container-width);
	margin: 0 auto;
}
@media (min-width: 450px) {
	:root {
		--container-width: 400px;
	}
}
@media (min-width: 530px) {
	:root {
		--container-width: 480px;
	}
}
@media (min-width: 650px) {
	:root {
		--container-width: 90%;
	}
}
.screen {
	min-height: 100vh;
}
