@import "../../../../css/deffault.module.css";

.screen {
	background-color: var(--theme-primary);
}
.container {
	padding: 3rem 0 2.5rem 0;
}
.inputs {
	margin: 0 0 1rem 0;
}

.already {
	margin: 1rem 0 0 0;
	color: var(--neutral-0, #131212);
}
.link {
	color: var(--func-error, #a20808);
	font-family: Indie Flower;
	cursor: pointer;
}
@media (min-width: 530px) {
	.inputs {
		width: 80%;
	}
	.signUpButton {
		width: 80%;
	}
}
@media (min-width: 900px) {
	.signUpButton {
		width: 40%;
	}
}
